:root {
    --light-accent: #db7100;
    --dark-accent: #ac5902;
  
    --ct_col_h1-txt: var(--dark-accent);
    
    --ct_col_link: var(--dark-accent);
    --ct_col_link-visited: #7a440a;
    --ct_col_link-newpage: var(--dark-accent);
  
    --ct_bg_header-image: url('http://scp-cs.wdfiles.com/local--files/component%3Aoblast-91/moar_orange_body_bg.png');
    --ct_bg_header-logo: url('http://scp-cs.wdfiles.com/local--files/component%3Aoblast-91/logo_white.png'); 
  
    --ct_cnt_alt-header-txt: "Oblast-91";
    --ct_cnt_alt-slogan-txt: "V Oblasti-91 se nikdy nic neděje.";
    --ct_fns_alt-header-txt: 43.8px;
    --ct_fns_alt-slogan-txt: 13.4px;
    --ct_fns_header-txt: 0;
    --ct_fns_slogan-txt: 0;

    --ct_col_tab-menu-bg-selected: var(--dark-accent);
  
    --ct_col_sidebar-elements: var(--light-accent);
    --ct_brd_sidebar-elements: 1px solid var(--ct_col_sidebar-elements);
  
    --ct_brd_image-block: solid 1px var(--dark-accent);
}